<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meltube - 비밀번호 재설정</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/user/assets/styles/recoverPassword.css'}">
    <script type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/user/assets/scripts/recoverPassword.js'}"></script>
    <script th:if="${userEmail == null || key == null}">
        alert('올바르지 않은 접근입니다.');
        if (history.length > 1) {
          history.back();
        } else {
          window.close();
        }
    </script>
</head>
<body th:if="${userEmail != null && key != null}">
<main class="-spring" id="main">
    <div class="content">
        <img alt="Meltube" class="logo" th:src="@{/assets/images/_logo.png}">
        <form novalidate class="-visible" id="recoverForm">
            <input name="key" type="hidden" th:value="${key}">
            <h2 class="title">비밀번호 재설정</h2>
            <label class="--obj-label">
                <span class="_text">대상 계정</span>
                <input readonly class="_field --obj-field -light" name="userEmail" type="email" th:value="${userEmail}">
            </label>
            <label class="--obj-label" data-id="password">
                <span class="_text">새로 사용할 비밀번호</span>
                <input autocomplete="password" class="_field --obj-field -light" maxlength="50" minlength="6" name="password" spellcheck="false" type="password">
                <input autocomplete="password" class="_field --obj-field -light" maxlength="50" minlength="6" name="passwordCheck" placeholder="비밀번호 재입력" spellcheck="false" type="password">
                <span class="_warning">올바른 비밀번호를 입력해 주세요.</span>
            </label>
            <button class="--obj-button -color-primary" type="submit">비밀번호 재설정하기</button>
        </form>
    </div>
</main>
</body>
</html>














